main.log
*.out
*.aux
*.bbl
*.blg
main.pdf
main.synctex.gz

*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg

/*
!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/newtphys.github.io/
!/newtphys.github.io/**
!/data_viewer/
!/data_viewer/**